.post{
    width: 385px;
    margin: 0px 25px 40px 25px ;


}

.postImg{
    display: flex;
    object-fit: cover;
    border-radius: 7px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.postTitle{
    font-family: "Josefin Sans",sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 15px;
    cursor:pointer;
    
}

.Link{
    text-decoration: none;
    color: #000;
    
}